body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px
}

.color {
    color: orange;
}

.section1 {
    display: flex;
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 150px;
}

.div1 {
    width: 50%;
    padding-left: 5%;
    text-align: justify;
}

.div1 img {
    width: 85%;
    padding-left: 5%;
}

.section1 p {
    text-align: justify;
    font-size: 18px;
}

.hire {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
}

.section2 {
    display: flex;
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    margin-bottom: 150px;
}

.contriner {
    display: flex;
    margin-bottom: 150px;
}

#border {
    border-left: 7px solid tomato;
}

#border2 {
    border-left: 7px solid blue;
}

.shadow {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
    box-shadow: 5px 5px 30px orange;
}

.last-option {

    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}

footer p {
    text-align: center;
}